<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">My name is Bo Meyering, I currently work as an applications developer at an agricultural non-profit organization. I'm a trained biologist who has been slowly transitioning to more computational sciences over my career. Though the majority of my work now involves deploying new web applications and managing databases for my lab, I routinely find myself engaged in other task such as computer vision, deep learning, meta-analysis, and statistical modeling. I have extensive experience in Python, R, and SQL, but I can also find my way around Javascript as needed. Check out my CV below or look at my current projects to see what I've been up to recently!</p>
                <a href="#" class="btn btn-default btn-xl">Get in touch now</a>
            </div>
        </div>
    </div>
</section>
