<section class="bg-primary" id="experience">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center"> -->
            <div class="col-lg-3 col-md-6 text-center">
                <h2 class="section-heading">Experience</h2>
                <hr class="light">
                <p class="text-faded">blah blah blah</p>
                <div class="service-box">
                    <a href="https://numpy.org/" target="_blank">
                        <img class="img-logo wow bounceIn text-primary logo" height=100 data-wow-delay=".15s" src="../img/numpy.png" />
                        <h3>Numpy</h3>
                    </a>
                    <p class="text-muted">Numerical matrix operations in Python</p>
                </div>
                <div class="service-box">
                    <a href="https://numpy.org/" target="_blank">
                        <img class="img-logo wow bounceIn text-primary logo" height=100 data-wow-delay=".15s" src="../img/numpy.png" />
                        <h3>Numpy</h3>
                    </a>
                    <p class="text-muted">Numerical matrix operations in Python</p>
                </div>
                <div class="service-box">
                    <a href="https://numpy.org/" target="_blank">
                        <img class="img-logo wow bounceIn text-primary logo" height=100 data-wow-delay=".15s" src="../img/numpy.png" />
                        <h3>Numpy</h3>
                    </a>
                    <p class="text-muted">Numerical matrix operations in Python</p>
                </div>
                <!-- <script src="https://gist.github.com/BoMeyering/456bb62be622773bf1f874175512bb65.js"></script> -->
                <a href="#cv" class="btn btn-default btn-xl page-scroll">Check out my CV</a>
            </div>
        </div>
    </div>
</section>
