<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/TLILegume/sainfoin_seed_RCNN" class="portfolio-box">
                    <img src="img/portfolio/sainfoin1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GitHub Repository
                            </div>
                            <div class="project-name">
                                Sainfoin Seed RCNN
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/TLILegume/K1702_clover_analysis" class="portfolio-box">
                    <img src="img/portfolio/kura1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GitHub Repository
                            </div>
                            <div class="project-name">
                                K1702 Kura Clover Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/TLILegume/regen_pgc_segmentation_models" class="portfolio-box">
                    <img src="img/portfolio/code1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GitHub Repository
                            </div>
                            <div class="project-name">
                                Perennial Groundcover Segmentation Models
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
