<section id="skillset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=100 height=100 src="../img/python.png" />
                    <h3>Python</h3>
                    <p class="text-muted">5 years of Python development experience</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=100 height=100 data-wow-delay=".1s" src="../img/R.png" />
                    <h3>R</h3>
                    <p class="text-muted">6 years of experience with R and RStudio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=154 height=100 data-wow-delay=".2s" src="../img/pytorch.png" />
                    <h3>Pytorch</h3>
                    <p class="text-muted">Proven ability to build and deploy deep learning models in Pytorch</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=100 height=100 data-wow-delay=".3s" src="../img/numpy.png" />
                    <h3>Numpy</h3>
                    <p class="text-muted">import numpy as np</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=186 height=100 data-wow-delay=".5s" src="../img/sklearn.png" />
                    <h3>OpenCV</h3>
                    <p class="text-muted">Open source computer vision libraries</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=100 height=100 data-wow-delay=".4s"src="../img/postgresql-logo.png" />
                    <h3>PostgreSQL</h3>
                    <p class="text-muted">SELCT * FROM table</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-logo wow bounceIn text-primary" width=186 height=100 data-wow-delay=".5s" src="../img/sklearn.png" />
                    <h3>Scikit Learn</h3>
                    <p class="text-muted">Machine learning module</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="bg-primary" id="about"> -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="primary">
                <p class="text-muted">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
