<section class="bg-primary" id="summary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                    I am an experienced and data scientist currently working as an applications developer in agricultural research.
                    Though the majority of my work now involves deploying new web applications and managing databases for my lab, I routinely find myself engaged in other task such as computer vision, deep learning, meta-analysis, and statistical modeling. 
                    I have extensive experience in Python, R, and SQL, but I can also find my way around Javascript as needed. 
                    Check out my tech stack below, browse my project portfolio, or view my CV to find out more!
                </p>
                <a href="#skillset" class="btn btn-default btn-xl page-scroll">See my top skills</a>
            </div>
        </div>
    </div>
</section>
