<section class="bg-dark" id="summary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                    I am an experienced and highly motivated data scientist and applications developer working in the plant sciences.
                    I have expertise at the nexus of machine learning and computer vision, but also work in web application development, statistical modeling, and database management. 
                    Every once in a while I get to dive into some other topics like meta-analysis and structural equation modeling.
                    Check out my tech stack below, browse my project portfolio, or view my CV to find out more!
                </p>
                <a href="#skillset" class="btn btn-default btn-xl page-scroll">See my top skills</a>
            </div>
        </div>
    </div>
</section>
